﻿@model User.Core.Model.SearchCustomer

@{
    ViewData["Title"] = "Add Customer";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <h2 style="text-align:center">Add Customer</h2>

    <div class="container">
        <form asp-action="SaveCustomer" method="post" asp-controller="Customer">

            <div asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">LastName</label>
                </div>
                <div class="col-75">
                    <input type="text" placeholder="LastName.." asp-for="@Model.CustomerName">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">FirstName</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="FirstName.." asp-for="@Model.CustomerSurname">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Father Name</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="FatherName.." asp-for="@Model.FathersName">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Email</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Email.." asp-for="@Model.Email">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Date Of Birth</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="date" placeholder="DateOfBirth.." asp-for="@Model.DateOfBirth">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Gender</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <select asp-for="@Model.Gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Address</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="customerAddress.." asp-for="@Model.CustomerAddress">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">City</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="city.." asp-for="@Model.City">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Region</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Region.." asp-for="@Model.Region">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Phone</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="phone.." asp-for="@Model.Phone">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Postal Code</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Postal code.." asp-for="@Model.PostalCode">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Fax</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Fax.." asp-for="@Model.Fax">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Pasport</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Pasport.." asp-for="@Model.PersonDocument">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lname">UserName</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="UserName.." asp-for="@Model.UserName">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lname">Password</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Password.." asp-for="@Model.UserPassword">
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label for="lname">Admin</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="checkbox" placeholder="Admin" asp-for="@Model.IsAdmin">
                </div>
            </div>

            <button class="button vertical-center">Submit</button>
        </form>

        <h1>aa</h1>

    </div>

</body>
</html>
