﻿@model User.Core.Model.SearchCustomer

@{
    ViewData["Title"] = "Delete Customer";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <h2 style="text-align:center">Delete Customer</h2>

    <div class="container">

        <h1 style="text-align:center; color: red">@ViewBag.Done</h1>
        <form asp-action="DeleteCustomer" method="post" asp-controller="Customer">

            <div asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Id of customer</label>
                </div>
                <div class="col-75">
                    <input type="text" placeholder="Id.." asp-for="@Model.CustomerId">
                </div>
            </div>

            <button class="button vertical-center">Submit</button>
        </form>

    </div>

</body>
</html>
