﻿@model User.Core.Model.Users;

@{
    Layout = null;
    ViewData["Title"] = "Login User";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <h2 style="text-align:center">Wellcome</h2>

    <div class="container">
        <form asp-action="LoginUser" asp-controller="Home" method="post">
            <h1 style="color: red; text-align:center">@ViewBag.ErrorMessage</h1>
            <div class="row">
                <div class="col-25">
                    <label for="fname">UserName</label>
                </div>
                <div class="col-75">
                    <input type="text" placeholder="User name.." asp-for="@Model.UserName">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Password</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Your Password.." asp-for="@Model.UserPassword">
                </div>
            </div>

            <div asp-validation-summary="All"></div>

            <button class="button vertical-center">Login/Sign In</button>
        </form>
    </div>

</body>
</html>
